/* src/App.css */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: white;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  padding: 20px;
  background-color: #121212;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #3c89ed;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.network-info {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 20px;
}

.network-logo {
  margin-right: 10px;
  width: 50px;
  height: auto;
}

.connect-wallet-btn, .vote-btn, .execute-btn, .modal-submit-btn {
  padding: 12px 25px;
  margin: 15px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.connect-wallet-btn:hover, .vote-btn:hover, .execute-btn:hover, .modal-submit-btn:hover {
  background-color: #3700b3;
  transform: translateY(-2px);
}

.proposals-list ul {
  list-style-type: none;
  padding: 0;
}

.proposal-card {
  padding: 20px;
  margin: 10px 0;
  background-color: #1f1f1f;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.proposal-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.proposal-info {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.create-proposal-btn {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  width: 9%;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.create-proposal-btn:hover {
  color: #ffa726;
  border-color: #ffa726;
}

.spinner {
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-top: 6px solid #6200ea;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-input {
  width: 90%;
  padding: 10px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 15px;
  font-size: 1rem;
}

.modal-submit-btn, .close-modal {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.modal-submit-btn:hover, .close-modal:hover {
  background-color: #3700b3;
  transform: translateY(-2px);
}

.app-footer {
  margin-top: auto;
  padding: 15px;
  background-color: #1f1f1f;
  text-align: center;
  font-size: 14px;
  color: #999;
  border-top: 1px solid #444;
}

.app-footer a {
  color: #6200ea;
  text-decoration: none;
  font-weight: bold;
}

.app-footer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .App {
    padding: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  .create-proposal-btn{
    width: 20%;
  }

  .connect-wallet-btn, .vote-btn, .execute-btn, .modal-submit-btn {
    width: 100%;
    padding: 10px;
  }

  .proposal-card {
    padding: 15px;
  }

  .modal-content {
    width: 100%;
  }
}